body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px 30px;
  color: #ffffff;
  background: #7fff00;
  text-align: center;
  margin: 50px 20px;
  border-radius: 10px;
  font-size: 2rem;
}

.second {
  background: #100619;
}

.last {
  background: #b7b71e;
}

.one:hover {
  background: #0000ff;
  transform: scale(0.9);
}
