body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px 30px;
  color: white;
  background: chartreuse;
  text-align: center;
  margin: 50px 20px;
  border-radius:10px;
  font-size: 2rem;

}

.second {
  background:rgb(16, 6, 25) ;
}

.last {
  background: rgb(183, 183, 30);
}

.one:hover {
  background:rgb(183, 183, 30);
  transform:scale(0.9);
}
